:root {
  --background: #ffffff96;
  --text-color: #000000;
  --text-bg-img: url(https://images.unsplash.com/photo-1550757750-4ce187a65014?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=334&q=80);
  --card-width: 280px;
  --card-height: 400px;
  --image-size: 250px;
  --image-bg: rgb(229, 228, 231);
  --card-background: #ffffff;
  --card-border-color: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  transition: 1s;
}

body,
html {
  min-height: 100%;
  background: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
}

.container h1 {
  text-align: center;
  margin: 30px;
  position: relative;
  background-image: var(--text-bg-img);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  animation: fade-in 1.3s linear;
}
.search-characters {
  position: relative;
  width: 20%;
  margin: 10px auto 40px auto;
  height: 20px;
}

.search-characters .search-characters-inp {
  width: 100%;
  padding: 5px 42px 5px 15px;
  font-size: 20px;
  color: black;
  outline: none;
  border-radius: 3px;
}

.search-characters span {
  position: absolute;
  right: 5px;
  font-size: 35px;
  top: 4px;
  opacity: 0.5;
  background-image: var(--text-bg-img);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#characters-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#characters-container .character-card {
  height: var(--card-height);
  width: var(--card-width);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--card-background);
  border: 1px solid var(--card-border-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin: 20px 17px;
  border-radius: 8px;
}

#characters-container .character-card .image {
  height: var(--image-size);
  width: var(--image-size);
  background-color: var(--image-bg);
  overflow: hidden;
  border-radius: 5px;
}
#characters-container .character-card .image img {
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  transition: 1s linear;
}

#characters-container .character-card .image img:hover {
  transform: scale(1.1);
}

#characters-container .character-card h2 {
  text-align: center;
  margin: 10px;
  background: -webkit-repeating-linear-gradient(
    30deg,
    rgb(255, 75, 30),
    rgb(255, 157, 11)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 600;
  animation: 1s fade-in linear;
}

#characters-container .character-card h4 {
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
}

/* Hamburger Menu */
.hamburger-menu {
  width: 50px;
  height: 30px;
  position: absolute;
  top: 50px;
  left: 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
}
.hamburger-menu span {
  width: 60%;
  height: 3px;
  background: black;
}

.hamburger-menu span:first-child {
  width: 32%;
}

.hamburger-menu span:last-child {
  width: 32%;
  align-self: flex-start;
  margin-left: 12px;
}

.hamburger-menu.maximize {
  align-items: center;
}

.hamburger-menu.maximize span {
  width: 60%;
}

.hamburger-menu.maximize span:first-child {
  transform: translate(-6px, 10px) rotate(40deg);
}

.hamburger-menu.maximize span:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.maximize span:last-child {
  transform: translate(-7px, -9px) rotate(-45deg);
}
/* Light mode/ Dark mode */

.dark-mode {
  width: 80px;
  height: 6px;
  background: var(--text-bg-img);
  position: absolute;
  top: 60px;
  right: 70px;
  outline: none;
  border: none;
  cursor: pointer;
}

.dark-mode span {
  content: "";
  position: absolute;
  background-color: white;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  left: 0;
  top: -11px;
  transition: all 1s;
}

.dark-mode.off span {
  background-color: black;
}

.dark-mode p {
  font-size: 15px;
  margin-top: 18px;
  color: var(--text-color);
}

/* Skeleton Loading */
.skeleton-loading .image {
  max-height: var(--image-size);
  max-width: var(--image-size);
}

.character-card.skeleton-loading span {
  width: 90%;
  height: 35px;
  background-color: var(--image-bg);
  margin: 13px;
}

.character-card.skeleton-loading span:last-child {
  margin: 0;
  height: 30px;
}

/* no searched character */
.no-searched-character {
  height: 55vh;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  opacity: 0.4;
  color: var(--text-color);
}

/* Keyframes */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 11px;
  background-color: rgba(0, 0, 0, 0.16);
}

::-webkit-scrollbar-thumb {
  background: rgb(17, 73, 146);
  background-image: var(--text-bg-img);
  border-radius: 3px;
}
